In [149]:
import pandas as pd 
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [154]:
data= pd.read_csv("covidLive.csv")

In [155]:
data.head(3)

,#,Country,Total\r\nCases,TotalDeaths,New\r\nDeaths,Total\r\nRecovered,Active\r\nCases,"Serious,\r\nCritical",Tot Cases/\r\n1M pop,Deaths/\r\n1M pop,Total\r\nTests,Tests/\r\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"

In [156]:
data.describe

<bound method NDFrame.describe of        #         Country Total\r\nCases TotalDeaths  New\r\nDeaths  \
0      1             USA     98,166,904   1,084,282            NaN
1      2           India     44,587,307     528,629            NaN
2      3          France     35,342,950     155,078            NaN
3      4          Brazil     34,706,757     686,027            NaN
4      5         Germany     33,312,373     149,948            NaN
..   ...             ...            ...         ...            ...
225  226            Niue             80         NaN            NaN
226  227    Vatican City             29         NaN            NaN
227  228          Tuvalu             20         NaN            NaN
228  229  Western Sahara             10           1            NaN
229  230      MS Zaandam              9           2            NaN

    Total\r\nRecovered Active\r\nCases Serious,\r\nCritical  \
0           94,962,112       2,120,510                2,970
1           44,019,095          39,583                  698
2           34,527,115         660,757                  869
3           33,838,636         182,094                8,318
4           32,315,200         847,225                1,406
..                 ...             ...                  ...
225                 80               0                  NaN
226                 29               0                  NaN
227                NaN              20                  NaN
228                  9               0                  NaN
229                  7               0                  NaN

    Tot Cases/\r\n1M pop Deaths/\r\n1M pop Total\r\nTests Tests/\r\n1M pop  \
0                293,206             3,239  1,118,158,870        3,339,729
1                 31,698               376    894,416,853          635,857
2                538,892             2,365    271,490,188        4,139,547
3                161,162             3,186     63,776,166          296,146
4                397,126             1,788    122,332,384        1,458,359
..                   ...               ...            ...              ...
225               49,322               NaN            NaN              NaN
226               36,295               NaN            NaN              NaN
227                1,658               NaN            NaN              NaN
228                   16                 2            NaN              NaN
229                  NaN               NaN            NaN              NaN

        Population
0      334,805,269
1    1,406,631,776
2       65,584,518
3      215,353,593
4       83,883,596
..             ...
225          1,622
226            799
227         12,066
228        626,161
229            NaN

[230 rows x 13 columns]>

In [157]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data)

In [158]:
test.describe

<bound method NDFrame.describe of        #           Country Total\r\nCases TotalDeaths  New\r\nDeaths  \
112  113              Laos        215,843         758            NaN
143  144        Madagascar         66,676       1,410            NaN
105  106           Nigeria        265,382       3,155            NaN
12    13           Vietnam     11,477,886      43,148            NaN
197  198      Sint Maarten         10,863          87            NaN
70    71           Belarus        994,037       7,118            NaN
152  153           Andorra         46,227         155            NaN
219  220  Falkland Islands          1,886         NaN            NaN
191  192            Gambia         12,508         372            NaN
157  158           Mayotte         40,243         187            NaN
113  114        Kyrgyzstan        206,083       2,991            NaN
162  163           Bahamas         37,267         833            NaN
32    33            Canada      4,233,468      44,992            NaN
22    23          Portugal      5,490,639      25,024            NaN
159  160              Togo         39,034         285            NaN
17    18            Mexico      7,084,488     330,065            NaN
203  204           Comoros          8,471         161            NaN
55    56           Finland      1,292,940       5,981            NaN
226  227      Vatican City             29         NaN            NaN
53    54            Norway      1,462,318       4,098            NaN
11    12             Spain     13,412,263     114,084            NaN
34    35           Czechia      4,100,480      41,059            NaN
7      8             Italy     22,432,803     177,054            NaN
19    20            Taiwan      6,417,941      11,003            NaN
33    34              Peru      4,143,085     216,539            NaN
3      4            Brazil     34,706,757     686,027            NaN
20    21          Colombia      6,307,372     141,794            NaN
181  182       South Sudan         17,823         138            NaN
137  138  French Polynesia         76,599         649            NaN
200  201        Micronesia          9,759          29            NaN
42    43            Serbia      2,359,530      17,000            NaN
13    14         Australia     10,209,239      14,984            NaN
35    36       Switzerland      4,084,307      14,183            NaN
148  149             Syria         57,299       3,163            NaN
205  206      Sierra Leone          7,751         126            NaN
50    51            Jordan      1,746,997      14,122            NaN
97    98   North Macedonia        342,775       9,534            NaN
227  228            Tuvalu             20         NaN            NaN
185  186             Samoa         15,925          29            NaN
217  218          Kiribati          3,430          13            NaN
16    17              Iran      7,548,320     144,421            NaN
71    72            Panama        986,866       8,497            NaN
134  135            Malawi         88,024       2,682            NaN
98    99             Kenya        338,420       5,678            NaN
128  129            Angola        103,131       1,917            NaN
190  191            Monaco         14,608          63            NaN
24    25           Austria      5,118,512      20,738            NaN
60    61           Lebanon      1,215,511      10,674            NaN
214  215         St. Barth          5,285           6            NaN
57    58          Bulgaria      1,258,670      37,714            NaN
229  230        MS Zaandam              9           2            NaN
158  159          Tanzania         39,440         845            NaN
189  190               CAR         14,913         113            NaN
68    69           Ecuador      1,003,778      35,894            NaN
26    27          Malaysia      4,838,872      36,369            NaN
132  133   Channel Islands         91,561         202            NaN
193  194         Greenland         11,971          21            NaN
130  131     French Guiana         93,974         410            NaN

    Total\r\nRecovered Active\r\nCases Serious,\r\nCritical  \
112                NaN             NaN                  NaN
143             65,242              24                  NaN
105            258,381           3,846                   11
12          10,590,917         843,821                  106
197             10,773               3                   10
70             985,592           1,327                  NaN
152             46,011              61                   14
219              1,886               0                  NaN
191             12,028             108                  NaN
157                NaN             NaN                  NaN
113            196,406           6,686                  131
162             36,070             364                    2
32           4,131,367          57,109                   99
22           5,394,788          70,827                   61
159             38,528             221                  NaN
17           6,353,953         400,470                4,798
203              8,305               5                  NaN
55           1,263,711          23,248                   21
226                 29               0                  NaN
53           1,457,108           1,112                   20
11          13,218,892          79,287                  339
34           4,035,333          24,088                   39
7           21,779,604         476,145                  141
19           5,603,195         803,743                  NaN
33           3,914,598          11,948                  147
3           33,838,636         182,094                8,318
20           6,134,690          30,888                  342
181             17,335             350                    1
137                NaN             NaN                    7
200                157           9,573                    1
42           2,298,536          43,994                   33
13          10,133,494          60,761                   49
35           4,012,833          57,291                   54
148             54,078              58                  NaN
205                NaN             NaN                  NaN
50           1,731,007           1,868                   59
97             332,806             435                  NaN
227                NaN              20                  NaN
185              1,605          14,291                    4
217              2,703             714                    3
16           7,325,370          78,529                  157
71             976,873           1,496                   16
134             84,872             470                   67
98             332,663              79                    1
128            101,155              59                  NaN
190             14,478              67                    4
24           5,006,572          91,202                   47
60           1,087,587         117,250                   74
214                NaN             NaN                  NaN
57           1,211,397           9,559                   43
229                  7               0                  NaN
158                NaN             NaN                    7
189             14,520             280                    2
68             964,320           3,564                  759
26           4,777,329          25,174                   43
132             90,639             720                  NaN
193              2,761           9,189                    4
130             11,254          82,310                    3

    Tot Cases/\r\n1M pop Deaths/\r\n1M pop Total\r\nTests Tests/\r\n1M pop  \
112               28,852               101      1,233,207          164,845
143                2,285                48        512,993           17,581
105                1,224                15      5,441,162           25,104
12               115,993               436     85,826,548          867,342
197              247,077             1,979         62,056        1,411,454
70               105,381               755     13,646,641        1,446,722
152              596,762             2,001        249,838        3,225,256
219              532,919               NaN          8,632        2,439,107
191                4,889               145        155,686           60,851
157              140,582               653        176,919          618,038
113               30,629               445      1,907,195          283,460
162               93,047             2,080        248,846          621,314
32               110,280             1,172     64,928,884        1,691,366
22               541,453             2,468     44,988,307        4,436,467
159                4,497                33        791,865           91,220
17                53,849             2,509     18,393,211          139,806
203                9,335               177            NaN              NaN
55               232,754             1,077     11,505,032        2,071,128
226               36,295               NaN            NaN              NaN
53               265,327               744     11,002,430        1,996,315
11               287,083             2,442    471,036,328       10,082,298
34               381,910             3,824     56,212,735        5,235,528
7                372,250             2,938    246,636,495        4,092,684
19               268,661               461     25,998,416        1,088,319
33               122,998             6,429     35,126,382        1,042,815
3                161,162             3,186     63,776,166          296,146
20               122,443             2,753     36,572,720          709,974
181                1,534                12        410,280           35,313
137              269,559             2,284            NaN              NaN
200               83,063               247         21,923          186,596
42               272,683             1,965     11,030,499        1,274,758
13               391,627               575     78,835,048        3,024,116
35               465,520             1,617     22,318,542        2,543,819
148                2,959               163        146,269            7,553
205                  933                15        259,958           31,296
50               169,597             1,371     17,201,885        1,669,945
97               164,692             4,581      2,130,257        1,023,520
227                1,658               NaN            NaN              NaN
185               78,743               143        187,397          926,612
217               27,792               105            NaN              NaN
16                87,748             1,679     54,095,556          628,851
71               221,919             1,911      7,062,027        1,588,056
134                4,362               133        616,772           30,562
98                 6,020               101      3,881,967           69,055
128                2,944                55      1,499,795           42,818
190              367,192             1,584         78,646        1,976,875
24               564,539             2,287    197,543,761       21,787,811
60               181,831             1,597      4,795,578          717,380
214              531,423               603         78,646        7,908,095
57               183,892             5,510     10,559,171        1,542,702
229                  NaN               NaN            NaN              NaN
158                  623                13            NaN              NaN
189                2,973                23         81,294           16,205
68                55,416             1,982      3,082,403          170,173
26               145,832             1,096     64,604,259        1,947,021
132              518,868             1,145      1,252,808        7,099,551
193              210,117               369        164,926        2,894,810
130              299,119             1,305        651,257        2,072,951

      Population
112    7,481,023
143   29,178,077
105  216,746,934
12    98,953,541
197       43,966
70     9,432,800
152       77,463
219        3,539
191    2,558,482
157      286,259
113    6,728,271
162      400,516
32    38,388,419
22    10,140,570
159    8,680,837
17   131,562,772
203      907,419
55     5,554,960
226          799
53     5,511,370
11    46,719,142
34    10,736,784
7     60,262,770
19    23,888,595
33    33,684,208
3    215,353,593
20    51,512,762
181   11,618,511
137      284,164
200      117,489
42     8,653,016
13    26,068,792
35     8,773,637
148   19,364,809
205    8,306,436
50    10,300,869
97     2,081,304
227       12,066
185      202,239
217      123,419
16    86,022,837
71     4,446,964
134   20,180,839
98    56,215,221
128   35,027,343
190       39,783
24     9,066,710
60     6,684,849
214        9,945
57     6,844,597
229          NaN
158   63,298,550
189    5,016,678
68    18,113,361
26    33,181,072
132      176,463
193       56,973
130      314,169  >